.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 123.609394%;
    min-width: 1000px;
    max-width: 1000px;
	padding-bottom:70px;
}

.forgame{padding-left:20px;width:749px;height:60px;margin-top:-78px;color:#fff;background: url(/img/grad.png);position:absolute;overflow:hidden;
}
* {
font-face: Myriad Pro;
}
#box3 {
    float: left;
    height: 65px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 50%;
}

#box3 .search { 
	float:right;
	padding:6px 0 6px 15px;
	margin:3px; 
	background: url('/img/search.png') no-repeat; 
	background-position: 180px center ;
	margin-top:16px;
}

#box3 input[type=text],#box4 input[type=email]{
	border:1px solid #666;
	color:#333;
}
 
#box3 input[type=submit], input[type=submit]:hover {
        position:relative; 
        left:-6px;
	color:#333;
	background:#fff;
        cursor: pointer;
}

.rounded { 
        border-radius:5px; 
        -moz-border-radius:5px; 
        -webkit-border-radius:5px; 
}

#box {
    float: left;
    height: auto;
    margin-left: 2.549502%;
    margin-top: 0px;
    clear: none;
    width: 17.448239%;
    min-height: 60px;
}

#box img {
   max-width:100%;
   margin: 20px auto;
}

#box .menu p {
color:#757575;
}

#box .menu li {
list-style-type: none;
border-left: 5px solid #fff;
margin-left:-10px;
padding-left:5px;
margin-botto:5px;
}

#box .menu li:hover,#box .menu li .active{
border-left-color: #F1F002;
}

#box .menu ul{
margin-left: 0; 
padding-left: 0; 
}

#box .menu li a {
color:#000;
}

#box .menu li a: hover{
color:#000;
text-decoration:none;
}

#box1 {
    float: left;
    height: auto;
    margin-left: 2.551375%;
    margin-top: 0px;
    clear: none;
    width: 74.9013%;
    min-height: 60px;
}

#box5 {
    float: left;
    height: 50px;
    clear: both;
    width: 100%;
    position: fixed;
    top: auto;
    left: 0%;
    min-width: 0px;
    bottom: 0px;
    background-color: rgb(235, 235, 235);
}


#box2 {
    float: left;
    height: 65px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 50%;
}

#box2 a{
font-size:17px;
color:#000;
margin-right:30px;
line-height:65px;
}

#box4 {
    float: left;
    height: auto;
    margin-left: 0%;
    margin-top: 0px;
    clear: both;
    width: 100%;
    min-width: 0px;
    min-height: 200px;
    padding: 30px 0;
    padding-bottom:65px;
}

#box4 h1 {
	text-transform:uppercase;
	font-size:46px;
	font-family: Bebas Neue, Arial Narrow;
}

#box4 .game{
	width:350px;
	margin:20px auto;
	display:block;
	float: left;
border:1px solid #fff;
padding:4px;
}
#box4 .game br{display:none;}

#box4 .game:hover {border:1px solid #a1a1a1;}

#box4 .game:nth-child(even){
	display: inline;
	float:right;
}

#box4 .game img {
	max-width:100%;
	width:100%;height:200px;
}

#box4 .game h3,#box4 .game p{
	font-size: 20px;
	display: inline;
	max-width:49%;
	height:40px;
	line-height:40px;
}

#box4 .game p {
	width:100%;
}
#box4 .game span {
	font-size:24px;
}

#box4 .game p span:nth-child(1) {
	float: left;
}

#box4 .game p span:nth-child(2) {
	float: right;
}

#box4 td{
	width:372px;
}

p{ margin-bottom: 10px; }


#box6 {
    height: 50px;
    margin: 0 auto;
    clear: none;
    width: 94.899181%;
    min-width:1000px;
    max-width:1000px;	
	z-index:9999;
}

#box6 .menu {
float:right;
}

#box6 .menu a{
color:#000;
margin-left:30px;
font-weight:600;
line-height:50px;
}

#box6 .menu a:hover{
color:#000;
text-decoration:none;
}

.tabs {
  min-width: 320px;
  max-width: 1100px;
  padding: 0px;
  margin: 0 auto; 
	width:100%;
}

section {
  display: none;
  background: #fff;
margin-top:20px;
}
.tabs input {
  display: none;
}

.tabs label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #444;
  background: #fff;
}

.tabs label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

.tabs label:hover {
  color: #111;
  cursor: pointer;
}

.tabs input:checked + label {
  color: #444;
  background: #fff;
  border-bottom: 5px solid #F1F002;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2 {
  display: block;
}

@media screen and (max-width: 680px) {
  .tabs label {
    font-size: 0;
  }
 
  .tabs label:before {
    margin: 0;
    font-size: 18px;
  }
}

.tabs .list {
	background:#f2f2f2;
	width:100%;
	height:30px;
	line-height:30px;
}

.tabs .list:nth-child(even){
	background:#fff;
}

.tabs .list td{
	background:rgba(0,0,0,0);
	font-size:14px;
	display:table-cell;
	padding:0 20px;
	line-height:30px;
}
.tabs .list .b{width:100%;height:100%;text-align:right;padding-right:10px;
	border: 1px solid rgba(0,0,0,0);
}
.tabs .list .b:hover{
	border: 1px solid #efd600;
}
section p{font-size:14px;}
.mediadesc{width:100%;}
.mediadesc td{width:25%;padding:0 0;}
.mediadesc .td{width:50%;}
.mediadesc img{float:right;width:181px;height:100px;}